.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 170px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.9em;
  font-family: 'Satisfy', cursive;
}

.App-intro {
  font-size: large;
}

.daily-great-all {
  color: red;
  border: 1px black solid;
  display: block;
  text-decoration: none;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  width: 300px;
  font-family: 'Montserrat', sans-serif;
}

.Mindful-header {
  background-color: #4060B7;
  height: 30px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
