.App {
  text-align: center;
}

body {
  background: #afbfdd;
}
/*** Grapptitude Header ****/
.App-header {
  background-color: #1a3156;
  height: 135px;
  padding: 20px;
  color: white;
}

div.App-title h1 {
  font-size: 4.8em;
  font-family: 'Satisfy', cursive;
}

/*** Daily Great ****/
.daily-great-all {
  color: #8972af;
  border: 1px #1a3156 solid;
  display: block;
  text-decoration: none;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  width: 300px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  background: white;
  text-align: center;
}

/*** Navbar ****/
.navbar-default {
  background: #2d5391;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #afbfdd;
}


/*** Daily Mindful ****/
div.mindful-header.navbar-brand {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1.4em;
  margin: auto;
}

div.mindful-header.navbar-brand:hover {
  text-decoration: none;
  color: white;
}

div.mindful-header.navbar-brand>div>div>p{
  text-align: center;
  margin: auto;
}

/***Login***/

.Login {
  font-size: 3em;
  text-decoration: underline;
  text-align: center;
  font-family: 'Raleway', cursive;
  color: white;
}
